.modal-background {
    background: white;
}

body {
    background-image: linear-gradient(to right, yellow, green, blue, purple);
    
    
}

.jokester {
    font-family: 'Gloria Hallelujah', cursive;
    
}